@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&display=swap');


:root {

    /* BODY */
    --global-margin: 0px;
    --global-padding: 0px;
    --global-font: "Bebas Neue", sans-serif;
    --global-bg-color: #F5F5F5;

    /* HEADER */
    --header-color: #000000;
    --header-bg-color: #f5f5f5;
    --header-margin: 15px auto;
    --header-width: 90%;
    --header-text-align: center; 

    /* MAIN CONTENT */
    --main-width: 90%;
    --main-height: 90%;
   

}

* {

    margin: var(--global-margin);
    padding: var(--global-padding);
}

body {

    font-family: var(--global-font);
    background-color: var(--global-bg-color);

}

.header {

    font-weight: normal;
    color: var(--header-color);
    background-color: var(--header-bg-color);
    width: var(--header-width);
    text-align: var(--header-text-align);
    margin: var(--header-margin);

}

.main-content {

    width: var(--main-width);
    height: var(--main-height);
    

}
/* 

.footer {

}*/ 